<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target includeMode="feature" name="org.lunifera.runtime.gyrex.target.kepler" sequenceNumber="76">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gyrex.features.dependencies.commons.feature.group" version="1.2.0.v20121007-0820-85ARFg_F_XUFrXSoIz-mXC-8kB"/>
<unit id="org.eclipse.gyrex.features.dependencies.provisioning.feature.group" version="0.10.0.v20121007-0820-8-7XFsFFVqA5e3Buj2YZgiYVg"/>
<unit id="org.eclipse.gyrex.features.addons.mongodb.feature.group" version="1.0.0.v20120123-0813-2--7w3123163501724"/>
<unit id="org.eclipse.gyrex.features.dependencies.mongodb.feature.group" version="0.10.0.v20120123-0813-3627w3123132402A38"/>
<unit id="org.eclipse.gyrex.features.processing.feature.group" version="1.2.0.v20121007-0946-21-7w3123224102555"/>
<unit id="org.eclipse.gyrex.features.dependencies.persistence.feature.group" version="0.10.0.v20121007-0820-7B402aw312219343411"/>
<unit id="org.eclipse.gyrex.features.dependencies.processing.feature.group" version="0.10.0.v20121007-0820-27727w3122143A02531"/>
<unit id="org.eclipse.gyrex.features.dependencies.admin.feature.group" version="1.2.0.v20121203-1419-7c7nFMZFBZz0gz02h08-U2iQKNk"/>
<unit id="org.eclipse.gyrex.features.modelandservices.feature.group" version="1.2.0.v20121007-0946-7B7F-F8NcJTcLXZ69NLLc"/>
<unit id="org.eclipse.gyrex.features.http.feature.group" version="1.2.0.v20121007-0946-679-BgJ9ELAUFZ4DXHD"/>
<unit id="org.eclipse.gyrex.features.dependencies.solr.feature.group" version="0.10.0.v20121007-0820-7b7y1FBBoPbnRfqECaz-QA"/>
<unit id="org.eclipse.gyrex.features.addons.jersey.jaxrs.feature.group" version="1.0.0.v20120726-1155-2--7w3124122503264"/>
<unit id="org.eclipse.gyrex.features.kernel.feature.group" version="1.2.0.v20121007-0820-7A7H-F7RZHQZNlUz-8L7ZZ"/>
<unit id="org.eclipse.gyrex.features.dependencies.eclipselink.feature.group" version="0.10.0.v20121007-0820-7Z7j5FCe6XgsZcfz-aEoo6z-Z"/>
<unit id="org.eclipse.gyrex.features.admin.feature.group" version="1.2.0.v20121007-0946-797F-EVVFNWMNNe7UKj3"/>
<unit id="org.eclipse.gyrex.features.dependencies.jersey.feature.group" version="1.0.0.v20120801-1432-67F19oB5886H9G4CIE3"/>
<unit id="org.eclipse.gyrex.products.server.root.feature.feature.group" version="1.2.0.201301151110"/>
<repository location="http://download.eclipse.org/gyrex/1.2/integration/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.lunifera.dependencies.feature.security.shiro.feature.group" version="1.2.1"/>
<unit id="org.lunifera.runtime.web.feature.vaadin.common.feature.group" version="0.0.1.201301220519"/>
<unit id="org.lunifera.dependencies.feature.vaadin.addon.icepush.feature.group" version="0.5.4"/>
<unit id="org.lunifera.dependencies.feature.vaadin.feature.group" version="7.0.0.201301220448"/>
<unit id="org.lunifera.dependencies.feature.equinox.feature.group" version="3.9.0.201301220448"/>
<repository location="http://lunifera.github.com/p2/kepler/latest"/>
</location>
</locations>
</target>
